---
layout: default
section: post
published: true
---
<div class='listing col6 pad4h margin3'>
  {% for post in site.posts %}
      {% if post == site.posts.first %}
        <div class='splash' style='padding-bottom:6em;'>
          {{ post.excerpt }}
          
          <a href="{{ site.baseurl }}{{ post.url }}" style='text-align:center;'>
            <h4>{{post.title }}</h4>
          </a>
          
            <a href="{{ site.baseurl }}posts/" style='display:block;' style='padding-top:6em;'>
              <h4 class='item'></h4>
              <span class='date' style='float:right;'>
                more &nbsp;&raquo;
              </span>
          	</a>
          
        </div>     
      {% endif %}
    {% endfor %}    
</div>