---
layout: default
section: post
published: true
---

<style>
   /*! gallery style fot testing */
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
  }

  .box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
  }

  .gallery-img img {
    max-width: 200px;
	margin: 0 auto;
    height: 200px;
	object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
</style>

<div class='gallery'>

  {% for item in site.categories.post limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
  	{% capture url %}{{ item.url }}{% endcapture %}
  
    <div class='box'>
      <a href="{{site.baseurl}}{{item.url}}" class='gallery-img'>{{ item.excerpt }}</a>
    </div>
    
  {% endfor %}
  
</div>

<!-- working page style 6/2022

<div class='listing col6 pad4h margin3' style='padding-bottom:6em;'>

  {% for item in site.categories.post limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
  	{% capture url %}{{ item.url }}{% endcapture %}
  
    <div class='splash' style='padding-bottom:3.66em;'>
      <a href="{{site.baseurl}}{{item.url}}">{{ item.excerpt }}</a>
      <div style='padding-bottom:2em; padding-top:.66em;'>
        {{ item.title }}
        <span class='date'>
             &#152; {{item.date | date:"%b %d %Y"}}
        </span>
        <a href="{{site.baseurl}}{{item.url}}">
        <h4 class='item'></h4>
        <span class='date' href='{{ site.baseurl }}{{ item.url }}' style='float:right;'>
          	view post &nbsp;&raquo;
         </span>
        </a>
      </div>
    </div>
  {% endfor %}
</div>

-->