---
layout: default
section: post
published: true
---



<div class='listing col6 pad4h margin3' style='padding-bottom:6em;'>
  {% for item in site.categories.post limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
  	{% capture url %}{{ item.url }}{% endcapture %}
  	
  	{% if forloop.first == true %}
  	
  	  <div class='splash'>
        <a href="{{site.baseurl}}{{item.url}}">{{ item.excerpt }}</a>
        <div style='padding-bottom:2em; padding-top:3em;'>
          {{ item.title }}
          <span class='date'>
               &#152; {{item.date | date:"%b %d %Y"}}
          </span>
          <a href="{{site.baseurl}}{{item.url}}">
          <h4 class='item'></h4>
          <span class='date fr' href='{{ site.baseurl }}{{ item.url }}'>
            	view post &nbsp;&raquo;
           </span>
          </a>
        </div>
      </div>
      
  	{% else %}
  
    <div class='splash' style='padding-bottom:.42em;'>
      <div style='padding-top: .42em; padding-bottom:.42em;'>
        <h4 class='item'></h4>
        <a class='' href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a>
        <span class='date'>{{item.date | date:"%b %d %Y"}}</span>
      </div>
      <details>
        <summary class='date fr'></summary>
        <p>
          <a href="{{site.baseurl}}{{item.url}}">{{ item.excerpt }}</a>
        </p>
      </details>
    </div>
    
    {% endif %}
      
  {% endfor %}
</div>
