<footer class="footer">
  <!-- ScrollTop -->
  <a class="footer__scrolltop">Scroll</a>
  <!-- /ScrollTop -->

  <div class="footer__inner">
    <!-- Contact Info -->
    <ul class="footer__contact">
      <!-- General -->
      <li class="footer__contact__item">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">General</h5>
        <p class="p--address">
          <a href="tel:+1(212)518-4900" class="telephone" data-studio="nyc">by Lars Rosengren</a>
          <a href="tel:+4407550011030" class="telephone" data-studio="london">+44 (0) 755 0011030</a>
          <a class="u-link-honey--coloured u-link-block" href="mailto:lars@ustwo.co.uk">lars@ustwo.co.uk</a>
        </p>

        <ul class="social__links">
          <li class="social__links__item">
            <a href="https://www.facebook.com/pages/ustwo/127618770359" class="social__link social__link--facebook" target="_blank">Facebook</a>
          </li>

          <li class="social__links__item">
            <a href="http://www.linkedin.com/company/ustwo-" class="social__link social__link--linkedin" target="_blank">LinkedIn</a>
          </li>

          <li class="social__links__item">
            <a href="https://twitter.com/ustwo" class="social__link social__link--twitter" target="_blank">Twitter</a>
          </li>
        </ul>
      </li><!--

   <li class="footer__contact__item" data-studio="london">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">London</h5>
        <p class="p--address">
          <span class="street-address">62 Shoreditch High Street</span><br />
          <span class="region">London E1 6JJ</span><br />
          <span class="country-name">United Kingdom</span><br />
          <a href="tel:+44(0)2076130433" class="telephone">+44 (0) 207 613 0433</a><br />
          <a target="_blank" class="u-link-mare--coloured u-link-block u-margin-tS" href="https://maps.google.com/maps?q=62+Shoreditch+High+Street+London+E1+6JJ+United+Kingdom&amp;hl=en&amp;sll=40.747244,-73.995747&amp;sspn=0.014972,0.023432&amp;gl=us&amp;hnear=62+Shoreditch+High+St,+London,+United+Kingdom&amp;t=m&amp;z=16">Go to Google Maps</a>
        </p>
      </li>

   <li class="footer__contact__item"  data-studio="nyc">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">New York</h5>
        <p class="p--address">
          <span class="street-address">236W 27th Street. 12F</span><br />
          <span class="region">New York, NY. 10001</span><br />
          <span class="country-name">United States</span><br />
          <a href="tel:+1(212)518-4900" class="telephone">+1 (212) 518-4900</a><br />
          <a target="_blank" class="u-link-ohra--coloured u-link-block u-margin-tS" href="https://maps.google.com/maps?q=236W+27th+Street.+12F+New+York,+NY.+10001+United+States&amp;hnear=236+W+27th+St,+New+York,+10001&amp;gl=us&amp;t=m&amp;z=16">Go to Google Maps</a>
        </p>
      </li>

  <li class="footer__contact__item" data-studio="malmo">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">Malmö</h5>
        <p class="p--address">
          <span class="street-address">Södra Förstadsgatan 2</span><br>
          <span class="region">211 43 Malmö</span><br />
          <span class="country-name">Sweden</span><br />
          <a href="tel:+46(0)40330480" class="telephone">+46 (0) 40 330 480</a><br />
          <a target="_blank" class="u-link-piglet--coloured u-link-block u-margin-tS" href="https://maps.google.com/maps?q=S%C3%B6dra+F%C3%B6rstadsgatan+2+211+43+Malm%C3%B6+Sweden&amp;hl=en&amp;ie=UTF8&amp;sll=51.524115,-0.077254&amp;sspn=0.012296,0.023432&amp;gl=us&amp;hnear=S%C3%B6dra+F%C3%B6rstadsgatan+2,+211+43+Malm%C3%B6,+Sweden&amp;t=m&amp;z=16">Go to Google Maps</a>
        </p>
      </li>
    </ul>-->
    <!-- /Contact Info -->

    <!-- Copyright -->
    <div class="footer__copyright">
      <h6 class='h6 u-text-white'>Copyright &copy; 2014 ustwo studio Ltd. All rights reserved.</h6>
    </div>
    <!-- /Copyright -->
  </div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7940378-1']);
  _gaq.push(['_setDomainName', 'ustwo.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <!-- Include JS Libs -->
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/lib/jquery.fitText.js"></script>
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/lib/jquery.response.js"></script>
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/lib/swipe.js"></script>

<!-- Modular -->
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo.js"></script>
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-blocks.js"></script>
<!-- <script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-geolocation.js"></script> -->
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-sidebar.js"></script>
<script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-responsive-image-switcher.js"></script>

<!-- Load independent page js -->

  <script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-searchbar-hider.js"></script>

  <script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-select-box.js"></script>

  <script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-search-box.js"></script>

  <script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-blog.js"></script>

  <script src="http://cache.ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/js/ustwo-blog-load-next.js"></script>

<!-- /Include Js -->

    <script>
      (function() {

        $(document).ready(function () {
          var ResponsiveImageSwitcher = new Ustwo.ResponsiveImageSwitcher('http://ustwo.com/wordpress/wp-content/themes/ustwo.com-wp/images');
        });

        window.workSwipe = Swipe(document.getElementById('work'), {
          auto: 6000,
          continuous: true,
          callback: function(index, element){
            var $els = $(".swipe-pagination--work .swipe-pagination__item");
                $els.removeClass('is-active');
                $($els[index]).addClass('is-active');
          }
        });

        $(".swipe-pagination--work .swipe-pagination__item").on('click', function(event) {
          workSwipe.slide($(this).index(), 500);
        });

        $('#work .swipe-controls__item--prev').bind('click', function(event) {
          event.preventDefault();
          workSwipe.prev();
        });

        $('#work .swipe-controls__item--next').bind('click', function(event) {
          event.preventDefault();
          workSwipe.next();
        });

        window.twitterSwipe = Swipe(document.getElementById('twitter'), {
          auto: 3000,
          continuous: true,
          callback: function(index, element){
            var $els = $(".swipe-pagination--twitter .swipe-pagination__item");
                $els.removeClass('is-active');
                $($els[index]).addClass('is-active');
          }
        });

        $(".swipe-pagination--twitter .swipe-pagination__item").on('click', function(event) {
          twitterSwipe.slide($(this).index(), 500);
        });

        $('.twitter-block .swipe-controls__item--prev').bind('click', function(event) {
          event.preventDefault();
          twitterSwipe.prev();
        });

        $('.twitter-block .swipe-controls__item--next').bind('click', function(event) {
          event.preventDefault();
          twitterSwipe.next();
        });
      })();
    </script>

  </body>
</html>
