<div class='col12 clearfix'>
   <div class='header col6 margin3 pad4h'>
         <div class='clearfix col12'>
             <div class='menu fr' style='padding-top: 1.23em;'>
               <!-- <a class='{% if page.url == "http://www.scottkilts.com/contents" %}active{% endif %}' href='{{site.baseurl}}/contents'>contents</a> -->
               <a class='{% if page.url == "http://www.scottkilts.com/about/" %}active{% endif %}' href='{{site.baseurl}}/about'>about</a>
             </div>
             <h1 class='title'><a href='{{ site.baseurl }}/'><img alt='{{ site.title }}' src='/img/tinc-logo.png' width='66px' height='66px'></a></h1>
     </div>
   </div>
</div>