---
title: scott kilts
published: true
---
<!DOCTYPE html>
<html>
<head>
  {% include /js/gtag.js %}
  {% include gfonts.html %}
  <title>scott kilts{% if page.title %} | {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <!--<link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />-->
  {% include favicon.html %}
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</script>
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>
        <div class='clearfix col12'>
          <div class='menu fr' style='padding-top: 1.23em;'>
            <a class='{% if page.url == "http://www.scottkilts.com/posts/" %}active{% endif %}' href='{{site.baseurl}}/posts'>index</a>
            <a class='{% if page.url == "http://www.scottkilts.com/about/" %}active{% endif %}' href='{{site.baseurl}}/about'>about</a>
          </div>
          <h1 class='title'><a href='{{ site.baseurl }}/'><img alt='{{ site.title }}' src='/img/tinc-logo.png' width='66px' height='66px'></a></h1>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
  
  
