---
title: scott kilts
published: true
---
<!DOCTYPE html>
<html>
<head>
  {% include /js/gtag.js %}
  {% include gfonts.html %}
  <title>scott kilts{% if page.title %} | {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {% include favicon.html %}
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  
  <script type="text/javascript">

    var postsExcerpt = [{% for post in site.posts %}"{{ post.excerpt }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

</script>

</head>
<body>
  <div class='container'>
    {% include hamburger.html %}
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
  
  
