---
title: scott kilts
published: true
---
<!DOCTYPE html>
<html>
{% include head.html %}
<script>
var comingFromPost = document.referrer;

function linkToRandomPost() {
	var allPosts = [{% for post in site.posts %}
      "{{ post.url }}"{% unless post.previous == nil %},{% endunless %}
	}
    {% endfor %}];

var i = 0;
do {
	var randomPostLink = allPosts[Math.floor(Math.random() *  allPosts.length)]; i++;}
  return randomPostLink;
  }

location.replace(linkToRandomPost())

</script>

<!-- <body>
  <div class='container'>
    {% include hamburger.html %}
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body> -->