---
layout: default
section: post
published: true
---

<div class='listing col6 pad4h margin3'>    
  <div class='splash'>

    {{content}}

  </div>

  <span style='padding-bottom:6em;'>
    <span style='padding-bottom:6em;' class='date fl'>{{ page.title }}</span>
    <span style='padding-bottom:6em;' class='date fr'>{{page.date | date:"%b %d %Y"}}</span>
  </span>
  
</div>

<div class='listing col6 pad4h margin3' style='padding-bottom:6em;'>

{% for item in site.categories.post limit:1000 %}
  {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
	{% capture url %}{{ item.url }}{% endcapture %}
	
      <div class='splash' style='padding-bottom:.42em;'>
        
          <div style='padding-bottom:0em; padding-top:0.0em;'>
          
            <a href="{{site.baseurl}}{{item.url}}">
              {{ item.title }}
            <span class='date' href='{{ site.baseurl }}{{ item.url }}' style='float:right;'>
              {{item.date | date:"%b %d %Y"}}
             </span>
            </a>
            
          </div>
          
        </div>
  
{% endfor %}

</div>