---
layout: default
section: post
published: true
---

<div class='listing col6 pad4h margin3'>
  <div class='heading'>
    <h1><a href="{{site.url}}{{page.url}}">{{page.title}}</a></h1><span class='date'>{{page.date | date:"%b %d"}}</span>
  </div>

  <div class='splash'>
    {{content}}
    
    {% for item in site.categories.post limit:1000 %}
        {% if item != site.categories.post.first %}
          {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
          {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}
          {% capture url %}{{ item.url }}{% endcapture %}
          <details>
              <summary>
                  {{item.title}} 
                  <span class='date'>
                  &#126; {{item.date | date:"%b %d %Y"}}
                  </span>
            </summary>
              <h3><a href="{{site.url}}{{item.url}}">{{ item.title }}<a></h3>
              {{ item.content }}
          </details>
          {% endif %}
    {% endfor %}
    
  </div>
  
</div>
